body{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{text-align: center;}
#whole{
  text-align: center;
  padding-top: 10%;
  color: #fff;
  width:500px
}
input{
  height:50px;
  width:500px;
  text-align: center;
  background: black;
  color:#fff;
  border:none;
  font-size: 20px;
  outline:none;
}
.fahrenheit{
  border-top: 1px solid #fff;
  border-bottom:1px solid #fff;
}
